html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

li {
	list-style: none;
	margin-bottom: 30px;
}

.container {
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.content {
    width: 800px;
    height: 600px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.value-fields {
	width: 60px;
	margin: 10px;
}

button {
	margin:10px;
	border: 2px solid black;
	border-radius: 5px;
	color: black;
	background-color: white;
	transition: 0.5s;
}

button:hover {
	background-color: black;
	color: white;
}

/* footer */
footer {
	background-color: #666;
	padding-bottom: 5px;
	border-top: 2px solid #000;
    clear: both;
    position: relative;
}

footer h2, footer p, footer a, footer span {
	color: #D1D1D1;
}

footer h2 {
	font-weight: 400;
}

footer a {
	text-decoration: none;
}

footer ul {
	padding: 0;
}

footer li {
	list-style: none;
}

.footer-box {
	width: 20%;
	padding: 1%;
	float: left;
}

footer .wrapper:after {
	clear: both;
	content: "";
	display: block;
}

.footer-list li {
	margin-bottom: 10px;
}

.footer-list a {
    font-size: 25px;
    font-weight: bold;
	transition: 0.5s;
    position: relative;
}

.footer-list a:hover {
    font-size: 30px;
	color: #FFF;
}

.footer-list li:after {
	clear: both;
	content: "";
	display: block;
}

.articles-footer {
	width: 80%;
}

.footer-list.footer-article-list span {
	display: block;
	float: none;
}

.footer-bottom {
    text-align: center;
	border-top: 1px solid #B2B2B2;
}

.footer-bottom p {
	font-weight: 10px;
	margin-top: 10px;
    margin-bottom: 10px;
}